{% extends 'core/main.html' %} {% block title %}Checkout{% endblock title %}{% block content %}
<div class="pt-5"></div>
<div class="container container-top">
    <!--Plans-->
    <section id="plans" class="section-bg pt-1 container">
        <div class="pt-1">
            <header class="section-header text-center">
                <h3>Subscription Plans</h3>
                <hr> {% if user.userplan.plan.plan_type == "Standard" %}
                <h4 style="color: #27e630;">Your current subscription is: Standard</h4>
                {% elif user.userplan.plan.plan_type == "Unlimited" %}
                <h4 style="color: #27e630;">Your current subscription is: Unlimited</h4>
                {% else %}
                <h4 style="color: #27e630;">Your do not have an active Subscription</h4>
                {% endif %}
            </header>
    </section>
    <div id="generic_price_table">
        <section>
            <div class="container">
                <!--BLOCK ROW START-->
                <div class="row">
                    <div class="col-md-5">

                        <!--PRICE CONTENT START-->
                        <div class="generic_content active clearfix">

                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">

                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">

                                    <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>{{plan.plan_type}}</span>
                                    </div>
                                    <!--//HEAD END-->

                                </div>
                                <!--//HEAD CONTENT END-->
                                <br>
                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">
                                    <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">{{plan.price}}</span>
                                    <span class="month">/MON</span>
                                    </span>
                                </div>
                                <!--//PRICE END-->

                            </div>
                            <!--//HEAD PRICE DETAIL END-->

                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                                {{plan.attributes|safe}}
                            </div>
                            <!--//FEATURE LIST END-->
                        </div>
                        <!--//PRICE CONTENT END-->

                    </div>
                    <div class="col-md-6 pl-5">
                        <div>
                            <div class="container pt-2 text-center">
                                <div id="paypal-button-container"></div>
                                <script src="https://www.paypal.com/sdk/js?client-id=AXbo9kKL14ueqLrBEpHpa13FuDiXQIvHS_rLFRk8UU7kWmAoGHHoipAFuyq6Li1zybvx5WuXXue9nAyC&currency=USD"></script>
                                <script>
                                    // Render the PayPal button into #paypal-button-container

                                    function getCookie(name) {
                                        var cookieValue = null;
                                        if (document.cookie && document.cookie !== '') {
                                            const cookies = document.cookie.split(';');
                                            for (var i = 0; i < cookies.length; i++) {
                                                var cookie = cookies[i].trim();
                                                // Does this cookie string begin with the name we want?
                                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                    break;
                                                }
                                            }
                                        }
                                        return cookieValue;
                                    }
                                    var csrftoken = getCookie('csrftoken');

                                    var total = '{{plan.price}}'
                                    var planId = '{{plan.id}}'
                                    var userId = '{{user.id}}'


                                    function completeOrder() {
                                        var url = "{% url 'complete' %}"

                                        fetch(url, {
                                            method: 'POST',
                                            headers: {
                                                'Content-type': 'application/json',
                                                'X-CSRFToken': csrftoken,
                                            },
                                            body: JSON.stringify({
                                                'planId': planId,
                                                'userId': userId
                                            })
                                        })
                                    }


                                    paypal.Buttons({

                                        style: {
                                            color: 'blue',
                                            shape: 'rect',
                                            label: 'pay',
                                            height: 40
                                        },
                                        // Set up the transaction
                                        createOrder: function(data, actions) {
                                            return actions.order.create({
                                                purchase_units: [{
                                                    amount: {
                                                        value: total
                                                    }
                                                }]
                                            });
                                        },

                                        // Finalize the transaction
                                        onApprove: function(data, actions) {
                                            return actions.order.capture().then(function(details) {
                                                // Show a success message to the buyer
                                                completeOrder()
                                                alert('Transaction completed by ' + details.payer.name.given_name + '!');

                                            });
                                        }


                                    }).render('#paypal-button-container');
                                </script>
                            </div>
                        </div>
                    </div>

                    <!--//BLOCK ROW END-->

                </div>
        </section>
        </div>
        <!--end plans-->
    </div>


    {% endblock %}