{% extends 'core/main.html' %} {% load static %} {% block title %}Subscription Plans{% endblock %}{% block content %}
  <section class="pricing">
    <header class="pricing__header">
      <h1 class="pricing__title">Pricing plans</h1>
      <h5 class="pricing__subtitle">First 30 days absolutely <span class="accent-1">free</span> for any plan, no credit card required to get started.</h5>
      <div class="plan-duration">
        <div class="plan-duration__text plan-duration--active">Monthly</div>
        <div class="plan-duration__toggle">
          <div class="plan-duration__toggle-ball"></div>
        </div>
        <div class="plan-duration__text">Yearly</div>
      </div>
    </header>
    <article class="plans">
      <div class="plans__list">
        <article class="plan__item">
          <div class="plan__header">
            <h2 class="plan__title mb-2">Basic Plan:</h2>
            <h1 class="plan__price">5</h1>
          </div>
  
          <ul>
            <li><i class="fa-solid fa-circle-check"></i> Post up to 3 job listings</li>
            <li><i class="fa-solid fa-circle-check"></i> Receive up to 10 job applications per listing</li>
            <li><i class="fa-solid fa-circle-check"></i> Post 1 project for a fee</li>
            <li><i class="fa-solid fa-circle-check"></i> Access to basic analytics</li>
            <li><i class="fa-solid fa-circle-check"></i> Post up to 10 job listings</li>
          </ul>
  
          <a href="#" class="plan__cta-link ">Get Started</a>
        </article>
        <article class="plan__item plan__item--active">
          <div class="plan__header">
            <h2 class="plan__title mb-2">Premium</h2>
            <h1 class="plan__price">20</h1>
          </div>
          <ul>    
            <li><i class="fa-solid fa-circle-check"></i> Receive up to 25 job applications per listing</li>
            <li><i class="fa-solid fa-circle-check"></i> Post up to 3 projects for a fee</li>
            <li><i class="fa-solid fa-circle-check"></i> Access to advanced analytics</li>
            <li><i class="fa-solid fa-circle-check"></i> Priority support</li>
          </ul>
  
          <a href="#" class="plan__cta-link plan__cta-link--active">Get Started</a>
        </article>
        <article class="plan__item">
          <div class="plan__header">
            <h2 class="plan__title mb-2">Enterprise</h2>
            <h1 class="plan__price">80</h1>
          </div>
  
          <ul>
            <li><i class="fa-solid fa-circle-check"></i> Post unlimited job listings</li>
            <li><i class="fa-solid fa-circle-check"></i> Receive unlimited job applications per listing</li>
            <li><i class="fa-solid fa-circle-check"></i> Post unlimited projects for a fee</li>
            <li><i class="fa-solid fa-circle-check"></i> Access to premium analytics</li>
            <li><i class="fa-solid fa-circle-check"></i> 24/7 priority support</li>
          </ul>
  
          <a href="#" class="plan__cta-link">Get Started</a>
        </article>
      </div>
      <div class="plans__special-offer">
        <p><strong>Limited offer: </strong> Save 20% on anuual plans. Get the coupon <a href="#">here</a></p>
    </article>
    </div>
  
    <footer>
      <div class="currency">
        <span class="currency__text">Currency</span>
        <select class="currency__select">
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
          <option value="GBP">GBP</option>
        </select>
      </div>
    </footer>
  </section>                
{% endblock %}