{% extends 'core/main.html' %} {% block content %} {% if 'following' in request.path %}
<div class="container pt-5">
<h1>Following</h1>
{% else %}
<h1>Followers</h1>
{% endif %} {% for i in object_list %} {% if 'following' in request.path and i.being_followed.username != view.kwargs.username %}

<div class="list-div">
    <a href="{% url 'public-profile' i.being_followed.username %}" id='author-link'>
        <img class='rounded-circle like-image' src="{{i.being_followed.profile.image.url}}"> {{ i.being_followed.username }}
    </a>
    <button type="button" id='{{ i.being_followed.id }}' class="btn btn-secondary follow" bool='true'>Following</button>
</div>

{% elif 'followers' in request.path and i.follower.username != view.kwargs.username %}
<div class="list-div">
    <a href="{% url 'public-profile' i.follower.username %}" id='author-link'>
        <img class='rounded-circle like-image' src="{{i.follower.profile.profile_image.url }}"> {{ i.follower.username }}
    </a>
</div>
</div>
{% endif %} {% endfor %} {% endblock content %}