{% extends "core/main.html" %} {% load crispy_forms_tags %} {% block title %}Password Reset{% endblock %} {% block header %}{%endblock header%}{% block content %}
<div class="pt-5"></div>
<div class="container pt-5">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-murste" type="submit">Request Password Reset</button>
        </div>
    </form>
</div>
{% endblock content %}