{% extends 'core/main.html' %} {% load crispy_forms_tags %}{% load static %} {% block title %}Profile{% endblock %}{% block content %}
<div class="pt-5"></div>
<div class="container pt-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse p-2" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2">
                <li class="nav-item">
                    <a class="btninbox btn1 nav-link" href="{% url 'post-create' %}">Post Project</a>
                </li>
                <li class=" nav-item">
                    <a class="btninbox btn2 nav-link" href="{% url 'job_add' %}">Post Job</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                {% if user.userplan.plan.plan_type != "Unlimited" %}
                <a href="{% url 'plan' %}" class="btninbox btn1">Get Verified</a> {% endif %}
            </div>
            <div class="form-inline my-2 my-lg-0">
                <a href="{% url 'inbox-list'  %}" class="btninbox btn4"> Inbox Messages </a>
            </div>
        </div>
    </nav>
</div>
<div class="container pt-2">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{ message }}
    </div>
    {% endfor %} {% endif %}
</div>


<div class="resume-wrapper ml-0 pt-5">
    <section class="container profile section-padding">
        <div class="container">
            {% comment %} {{user.userplan.plan.plan_type}} {% endcomment %} {% if user.userplan.plan.plan_type == "Standard" %}
            <h4>Your current subscription is: Standard</h4>
            {% elif user.userplan.plan.plan_type == "Basic" %}
            <h4>Your current subscription is: Basic</h4>
            {% elif user.userplan.plan.plan_type == "Unlimited" %}
            <h4>Your current subscription is: Unlimited</h4>
            {% else %}
            <h4>Your do not have an active Subscription</h4>
            {% endif %}
            <div class="picture-resume-wrapper">
                <div class="picture-resume">
                    <div class="circle-1"></div>
                    <div class="circle-2"></div>
                    <img src="{{ user.profile.profile_picture.url }}" alt="" />
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="name-wrapper">
                {% if user.userplan.plan.plan_type == "Unlimited" %}
                <h1> {{ user.username }} <i class="fa fa-check-circle" aria-hidden="true" style="color:#1c87c5"></i></h1>
                {% else %}
                <h1> {{ user.username }}</h1>
                {% endif %}
                <p><strong><i class="fa fa-map-marker"></i> {{user.profile.country.name }}</strong></p>
                <p><strong>{{ user.first_name }} {{ user.last_name }}</strong></p><br>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="experience" style="margin-top: -1rem;">
        <div class="container p-5" style="overflow-x: scroll;">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="mb-4">Edit your profile</legend>
                    {{ form.media }} {{ u_form|crispy }} {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-murste" type="submit">Update</button>
                </div>
            </form>
        </div>
    </section>
    <div>
        {% endblock content %}