.clearfix::after,
.clearfix::before {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

.bold {
    color: #4a4e51;
    font-weight: 400;
}

.resume-wrapper {
    position: relative;
    height: 100%;
}

.profile {
    background: none;
    width: 40%;
    float: left;
    color: #9099a0;
}

@media (max-width: 850px) {
    .profile {
        width: 100%;
    }
}

.profile .name-wrapper {
    float: left;
    width: 60%;
}

.profile h1 {
    font-size: 1.5em;
    text-align: left;
    font-family: 'Varela Round', sans-serif;
    color: #4a4e51;
    text-transform: uppercase;
    line-height: 1em;
    padding-top: 40px;
}

@media (max-width: 1200px) {
    .profile h1 {
        padding-top: 20px;
    }
}

@media (max-width: 450px) {
    .profile h1 {
        font-size: 1.8em;
        padding-top: 20px;
    }
}

.profile li {
    margin-bottom: 10px;
}

.profile .picture-resume-wrapper {
    width: 40%;
    display: block;
    float: left;
}

@media (max-width: 1200px) {
    .profile .picture-resume-wrapper {
        width: 100%;
    }
}

.profile .picture-resume {
    width: 220px;
    height: 220px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 0px;
    display: table;
    position: relative;
    vertical-align: middle;
}

.profile .picture-resume span {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    margin: 0 auto;
    z-index: 10;
    text-align: center;
}

.profile .picture-resume img {
    border-radius: 50%;
    width: 130px;
}

@media (max-width: 1500px) {
    .profile .picture-resume img {
        width: 80px;
    }
}

@media (max-width: 1200px) {
    .profile .picture-resume img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 1500px) {
    .profile .picture-resume {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 1200px) {
    .profile .picture-resume {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 450px) {
    .profile .picture-resume {
        width: 180px;
        height: 180px;
    }
}

.profile .contact-info {
    margin-top: 100px;
    font-weight: 300;
}

@media (max-width: 1200px) {
    .profile .contact-info {
        margin-top: 70px;
    }
}

@media (max-width: 450px) {
    .profile .contact-info {
        margin-top: 50px;
    }
}

.profile .list-titles {
    float: left;
    text-align: right;
    padding-right: 1rem;
    font-weight: 600;
    width: 40%;
    color: #4a4e51;
}

.profile .list-content {
    float: left;
    width: 60%;
    text-align: left;
    font-weight: 300;
}

.profile .contact-presentation {
    text-align: left;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media (max-width: 1200px) {
    .profile .contact-presentation {
        margin-top: 70px;
        margin-bottom: 70px;
    }
}

@media (max-width: 850px) {
    .profile .contact-presentation {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.profile svg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.profile .st0,
.profile .st1 {
    fill: #124c8a;
}

.experience {
    width: 60%;
    float: left;
    position: relative;
    font-weight: 300;
    min-height: 100%;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif!important;
}

@media (max-width: 850px) {
    .experience {
        width: 100%;
    }
}

.section-wrapper {
    width: 100%;
    float: left;
    text-align: left;
    color: #9099a0;
    font-weight: 300;
    margin-bottom: 20px;
}

@media (max-width: 450px) {
    .section-wrapper {
        width: 100%;
    }
}

.section-wrapper:nth-child(3) {
    padding-right: 8%;
}

.section-wrapper h3.section-title {
    color: #124c8a;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 400;
}

.section-wrapper .skill-percentage {
    margin-bottom: 10px;
    position: relative;
}

.section-wrapper .skill-percentage::after {
    content: "";
    width: 100%;
    height: 6px;
    background: #4a4e51;
    display: block;
    margin-top: 3px;
}

.section-wrapper .skill-percentage::before {
    content: "";
    height: 6px;
    background: #66cccc;
    position: absolute;
    margin-top: 3px;
    bottom: 0;
}

.section-wrapper .skill-percentage:nth-child(1)::before {
    width: 90%;
    -webkit-animation: skill_1 0.6s ease;
    animation: skill_1 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(2)::before {
    width: 95%;
    -webkit-animation: skill_2 0.6s ease;
    animation: skill_2 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(3)::before {
    width: 92%;
    -webkit-animation: skill_3 0.6s ease;
    animation: skill_3 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(4)::before {
    width: 90%;
    -webkit-animation: skill_4 0.6s ease;
    animation: skill_4 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(5)::before {
    width: 99%;
    -webkit-animation: skill_5 0.6s ease;
    animation: skill_5 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(6)::before {
    width: 96%;
    -webkit-animation: skill_6 0.6s ease;
    animation: skill_6 0.6s ease;
}

.section-wrapper .skill-percentage:nth-child(7)::before {
    width: 70%;
    -webkit-animation: skill_6 0.6s ease;
    animation: skill_6 0.6s ease;
}

@-webkit-keyframes skill_1 {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes skill_1 {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@-webkit-keyframes skill_2 {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}

@keyframes skill_2 {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}

@-webkit-keyframes skill_3 {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}

@keyframes skill_3 {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}

@-webkit-keyframes skill_4 {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}

@keyframes skill_4 {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}

@-webkit-keyframes skill_5 {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
}

@keyframes skill_5 {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
}

@-webkit-keyframes skill_6 {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
}

@keyframes skill_6 {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
}

@-webkit-keyframes skill_7 {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
}

@keyframes skill_7 {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
}

.picture-resume-wrapper .picture-resume .circle-1,
.picture-resume-wrapper .picture-resume .circle-2 {
    position: absolute;
    box-sizing: border-box;
    width: 144.4px;
    height: 144.4px;
    top: 2.46rem;
    left: -0.3rem;
    border-width: 2px;
    border-style: solid;
    border-color: #124c8a #124c8a #124c8a transparent;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
}

.circle-1 {
    animation: circle-1 2s;
}

@keyframes circle-1 {
    100% {
        transform: rotate(-360deg);
    }
}

.picture-resume-wrapper .picture-resume .circle-2 {
    width: 155.8px;
    height: 155.8px;
    top: 2.1rem;
    left: -0.62rem;
    border-color: #124c8a transparent #124c8a #124c8a;
    animation: circle 2s;
}

@keyframes circle {
    100% {
        transform: rotate(360deg);
    }
}

.picture-resume-wrapper .picture-resume img {
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 2.8rem;
    min-width: 133px;
    min-height: 133px;
}

.picture-resume-wrapper .picture-resume:hover {
    cursor: pointer;
}

.picture-resume-wrapper .picture-resume:hover .circle-1,
.picture-resume-wrapper .picture-resume:hover .circle-2 {
    transform: rotate(360deg);
}

.picture-resume-wrapper .picture-resume:hover .circle-2 {
    transform: rotate(-360deg);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header2 {
    display: block;
    overflow: hidden;
    position: relative;
    padding-bottom: 2em;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
}

.containerprofile {
    width: 320px;
    margin: 3em auto 1em auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding-bottom: 1.5em;
    background-color: #dde1e2;
    -webkit-box-shadow: #bdc3c7 0 5px 5px;
    -moz-box-shadow: #bdc3c7 0 5px 5px;
    box-shadow: #bdc3c7 0 5px 5px;
}

.bg {
    border-bottom: 8px solid #5cc0ff;
}

.bio:hover>.desc {
    cursor: pointer;
    opacity: 1;
}

.avatarcontainer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 130px;
    height: 130px;
    display: block;
}

.avatarcontainer:hover>.hover {
    opacity: 1;
}

.avatar {
    width: 100%;
    border: 8px solid #5cc0ff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.avatar img {
    width: 65px;
    height: 65px;
}

.avatar:hover+.hover {
    opacity: 1;
    cursor: pointer;
}

.hover {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    top: 0;
    font-size: 1.8em;
    text-align: center;
    color: white;
    padding-top: 18%;
    opacity: 0;
    font-family: 'FontAwesome';
    font-weight: 300;
    border: 8px solid #5cc0ff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.data {
    padding-left: 3px;
    margin-top: .6em;
    color: #81878b;
}

.data li {
    width: 35%;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    font-family: 'Lato';
    border-right: solid 1px #bdc3c7;
}

.data li:last-child {
    border: none;
}

.data li span {
    display: block;
    text-transform: uppercase;
    font-family: 'Quicksand';
    font-size: .5em;
    margin-top: .6em;
    font-weight: 700;
}

.desc {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 171px;
    padding: 1.2em 1em 0 1em;
    color: white;
    text-align: center;
    opacity: 0;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.desc h3 {
    font-family: "Lato";
    font-size: 1.2em;
    margin-bottom: .5em;
}

.desc p {
    font-size: .9em;
    font-family: 'Quicksand';
    line-height: 1.5em;
}

.btn-primary {
    background-color: #2589cc!important;
}

.follow {
    margin: 1.5em auto 0 auto;
    width: 150px;
    color: white;
    font-family: "Lato";
    text-align: center;
    padding: .5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.follow:hover {
    background-color: #167abd;
    cursor: pointer;
}