{% load static %}{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Murste: Homepage</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css'%}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/sidenav.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>

<body>

    <!--==========================
  Header
  ============================-->
    <header id="header" class="fixed-top">
        <div class="container">
            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <h5 class="text-light" style="text-decoration: none;"><a href="{% url 'home' %}"><span><img src="{% static 'images/logo/logo.png' %}" alt="">MursteFreelance</span></a></h5>
            </div>
            <nav class="main-nav float-right d-none d-lg-block">
                {% if user.is_authenticated %}
                <ul>
                    <li>
                        <a href="{% url 'jobs' %} "> Browse Jobs</a>
                    </li>
                    <li class="drop-down"><a href=""><i  class="fa fa-user"></i> Your account({{ user.username }})</a>
                        <ul>
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            {% if user.userplan.plan.plan_type == "Unlimited" or user.userplan.plan.plan_type == "Standard" or user.userplan.plan.plan_type == "Basic" %}
                            <li><a href="{% url 'job_add' %}">Post Job</a></li>
                            {% else %}
                            <li><a href="{% url 'plan' %}">Post Job</a></li>
                            {% endif %} {% if user.userplan.plan.plan_type == "Unlimited" or user.userplan.plan.plan_type == "Standard" %}
                            <li><a href="{% url 'post-create' %}">Post Project</a></li>
                            {% else %}
                            <li><a href="{% url 'plan' %}">Post Project</a></li>
                            {% endif %}
                            <!--
                    <li class="drop-down"><a href="#">Drop Down 2</a>
                        <ul>
                            <li><a href="#">Deep Drop Down 2</a></li>
                            <li><a href="#">Deep Drop Down 3</a></li>
                            <li><a href="#">Deep Drop Down 4</a></li>
                            <li><a href="#">Deep Drop Down 5</a></li>
                        </ul>
                    </li>
-->
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'notifications:unread' %}">
                            <span class="fa fa-bell"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'plan' %}">MursteFreelance<span class=" badge badge-warning p-1 "> Pro</span></a></li>
                    <li>
                        <a href="{% url 'logout' %} " class="btn btn-outline-murste"><i  class="fa fa-power-off "></i> Logout</a>
                    </li>
                </ul>
                {%else%}
                <ul>
                    <li><a href="{% url 'home' %} ">How It Works</a></li>
                    <li><a href="{% url 'jobs' %} "> Browse Jobs</a></li>

                    <li><a href="{% url 'login' %} " class="btn btn-murste" style="color:#ffff;"><i  class="fa fa-sign-in "></i> Join</a></li>
                </ul>
                {% endif %}
            </nav>
            <!-- .main-nav -->
        </div>
        </div>
        </div>
    </header>
    <!-- #header -->
    {% if user.is_authenticated %} {% else %}
    <section id="hero" class="wow fadeIn">
        <!-- particles.js container -->
        <div id="particles-js">
        </div>
        <div class="hero-container pt-5 text-center"><br><br>
            <h1>Welcome to MursteFreelance</h1>
            <br>
            <div id="container2">
                Make
                <div id=flip>
                    <div>
                        <div class="pb-5"> Work </div>
                    </div>
                    <div>
                        <div class="pb-5">lifeStyle</div>
                    </div>
                    <div>
                        <div class="pb-5">Everything</div>
                    </div>
                </div>
                AweSoMe!
            </div>
            <div class="pb-3" id="hero">
                <a href="{% url 'login' %}" class="btn-get-started scrollto">Get Started</a>

                <!--<div class="btns">
                    <a href="#"><i class="fa fa-apple fa-3x"></i> App Store</a>
                    <a href="#"><i class="fa fa-play fa-3x"></i> Google Play</a>
                    <a href="#"><i class="fa fa-windows fa-3x"></i> windows</a>
                    <br><br>-->
            </div>
        </div>
        </div>
        {% endif %}
    </section>
    <!-- #header -->
    <div class="">
        {% if user.is_authenticated %}
        <div class="pt-5"></div>
        {% else %}{% endif %}
        <div id="plans" class="section-bg pt-5 container">
            <div class="row mb-2">
                <div class="col-md-6">
                    <h3 style="color:#124c8a;"></h3>
                    <div class="">
                        <p class="">
                            MursteFreelance is an online platform that allows users to connect with either hirers or reliable freelance workers. We help in growing your businesses by cutting down on costs incurred by allowing you to hire freelance workers who bring in fresh expertise
                            inexpensively. We work closely with our clients on every process to ensure comfortability while using the platform. Our team is here to give you personalized support within the hour - available 24/7. Join MursteFreelance now
                            and Grow your business faster with our platform.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img src="{% static 'images/homepage_pics/murste1.jpg' %}" />
                </div>
            </div>
        </div>
        <!--how it works-->
        <div class="container text-center">
            <section id="plans" class="section-bg">
                <div class="pt-5 text-center section-header">
                    <h4>How it Works</h4>
                    <div id="neon-btn">
                        <form>
                            <label class="switch">
                              <input type="checkbox" id="toggle" checked="true" />
                              <div class="slider round"></div>
                          </label>
                        </form>
                        <div id="menu1">
                            <div class="">
                                <h4 style="color:#124c8a;font-family: 'Righteous', cursive!important;">As a freelancer</h4>
                                <p>
                                    <ul class="pt-3">
                                        <li><strong>Step 1 :</strong> Search for jobs in your field.</li>
                                        <li><strong>Step 2 :</strong> Research hiring companies.</li>
                                        <li><strong>Step 3 :</strong> Ready your resume for submission.</li>
                                        <li><strong>Step 4 :</strong> Submit your resume and online application.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div id="menu2">
                            <div class="">
                                <h4 style="color:#27e630;font-family: 'Righteous', cursive!important;">As a Hirer</h4>
                                <p>
                                    <ul class="pt-3">
                                        <li><strong>Step 1 :</strong> Write the job description.</li>
                                        <li><strong>Step 2 :</strong> Post job listings and sift through applicants</li>
                                        <li><strong>Step 3 :</strong> Interview the most qualified candidates.</li>
                                        <li><strong>Step 4 :</strong> Follow up with the interviewees.</li>
                                        <li><strong>Step 5 :</strong> Extend the job offer.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!--end how it works-->
        <div class="pt-1">
            <section id="plans" class="section-bg">
                <header class="section-header pt-5">
                    <h4>Available Jobs</h4>
                    <div id="neon-btn">
                        <div>
                            <p>The application process is simple and straightforward. We assist freelancers by providing latest verified jobs. Quickly find the best jobs offers and apply.<br><br><br>
                                <button class="btnhov two"><a href="{% url 'jobs' %}">Click To View Jobs</a></button>
                            </p>
                        </div>
                    </div>
                </header>
            </section>
            <div class="container pt-5">
                <main id="">
                    <section id="services " class="section-bg pt-1">
                        <div class="pt-1">
                            <header class="text-center">
                                <h2 style="color: #124c8a;">Projects</h2>
                                <hr>
                            </header>
                    </section>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <section id="services " class="section-bg pt-1">
                                <div class="pt-1">
                                    <header class="">
                                        <p>If you are good in creating unique ideas, you can simply start marketing your own capabilities. Start posting your projects.You could sell your ideas to other users. Make your specialism a new trend now
                                        </p>
                                    </header>
                            </section>
                            </div>
                            <div class="col-md-6 text-center">
                                <img src="{% static 'images/homepage_pics/murste2.jpg' %}" height="400" width="400" />
                            </div>
                        </div><br>
                        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                      </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/category/graphics-design">Graphics & Design</a>
                                            <a class="dropdown-item" href="/category/Photography">Photography</a>
                                            <a class="dropdown-item" href="/category/Photoshop">Photoshop</a>
                                            <a class="dropdown-item" href="/category/Architecture-Services">Architecture Services</a>
                                            <a class="dropdown-item" href="/category/Marketing-Sales-and-Service">Marketing, Sales and Service</a>
                                            <a class="dropdown-item" href="/category/Data-Entry">Data Entry</a>
                                            <a class="dropdown-item" href="/category/Web-Development-and-Designing">Web Development and Designing</a>
                                            <a class="dropdown-item" href="/category/Creative-Design">Creative Design</a>
                                            <a class="dropdown-item" href="/category/Mobile-App-Development">Mobile App Development</a>
                                            <a class="dropdown-item" href="/category/3D-Modeling-and-CAD">3D Modeling and CAD</a>
                                            <a class="dropdown-item" href="/category/Game-Development">Game Development</a>
                                            <a class="dropdown-item" href="/category/Translation">Translation</a>
                                            <a class="dropdown-item" href="/category/Transcription">Transcription</a>
                                            <a class="dropdown-item" href="/category/Article-and-Blog-Writing">Article and Blog Writing</a>
                                            <a class="dropdown-item" href="/category/Teaching-and-Tutoring">Logo Design and illustration</a>
                                            <a class="dropdown-item" href="/category/Audio-and-Video-Production">Audio and Video Production</a>
                                        </div>
                                    </li>
                                </ul>
                                <form class="form-inline my-2 my-lg-0" role="search " id="searchform" action="{% url 'post_search_list_view' %}" method="get" accept-charset="utf-8">
                                    <div class="form-group ">
                                        <div class="input-group ">
                                            <input id="searchbox" name="q" type="text" class="form-control " placeholder="Find projects">
                                            <span class="input-group-btn ">
                          <button class="btn btn-outline-murste my-2 my-sm-0" type="submit">Search</i></button>
                        </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </nav>
                        <section class="container">
                            <div class="main">
                                <ul class="cards">
                                    {% for post in posts %}
                                    <li class="cards_item">
                                        <div class="card">
                                            <div class="card_image"><img src="{{ post.cover_image.url}}"></div>
                                            <div class="card_content">
                                                <header class="post-meta-and-title ">
                                                    <div class="post-meta ">
                                                        <img class="rounded-circle article-img " src="{{ post.author.profile.profile_picture.url  }} "> {% if post.author.userplan.plan.plan_type == "Unlimited" %}
                                                        <a href="{% url 'public-profile' post.author.username %} " rel="author ">{{post.author}} <i class="fa fa-check-circle" aria-hidden="true" style="color:#1c87c5"></i></a> {% else %}
                                                        <a href="{% url 'public-profile' post.author.username %} " rel="author ">{{post.author}}</a> {% endif %}
                                                        <p class="author-name "><span class="author-name-date-padding "></span>
                                                            <small class="text-muted"><time datetime=""><i class="fa fa-clock-o"></i> {{ post.date_posted|naturaltime|lower }}</time></small>
                                                        </p>
                                                    </div>
                                                    <p style="min-height: 19px; ">
                                                        <strong><a class="postcard-title" href="{% url 'post-detail' post.slug %} ">{{post.title}}</a></strong>
                                                    </p>
                                                </header>
                                                <p class="card_text">{{post.overview}}</p>
                                                <a class="btnr card_btn" href="{% url 'post-detail' post.slug %} ">Read More</a>
                                            </div>
                                        </div>
                                    </li>
                                    {% empty %}
                                    <br>
                                    <div class="container mb-5">
                                        <div style="text-align:center;" id="nopost" class="anim-typewriter">
                                            No Projects Posted Yet
                                        </div>
                                    </div>
                                    <div id="meat_boy">
                                        <div id="shadow"></div>
                                        <div id="left-hand"></div>
                                        <div id="right-hand"></div>
                                        <div id="left-leg"></div>
                                        <div id="right-leg"></div>
                                        <div id="body">
                                            <div id="deformation1"></div>
                                            <div id="deformation2"></div>
                                            <div id="deformation3"></div>
                                            <div id="deformation4"></div>
                                            <div id="deformation5"></div>
                                            <div id="deformation6"></div>
                                            <div id="deformation7"></div>
                                            <div id="deformation8"></div>
                                            <div id="left-eye"></div>
                                            <div id="right-eye"></div>
                                            <div id="dimple"></div>
                                            <div id="smiley"></div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="paginator ">
                                {% if is_paginated %}
                                <ul class="pagination ">
                                    {% if page_obj.has_previous %}
                                    <li><a class="btn accent-1 btn-outline-murste " href="?page={{ page_obj.previous_page_number }} ">&laquo;</a></li>
                                    {% else %}
                                    <li class="disabled "><span class="btn btn-outline-murste ">&laquo;</span></li>
                                    {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
                                    <li class="active "><span class="btn btn-murste ">{{ i }} <span class="sr-only ">(current)</span></span>
                                    </li>
                                    {% else %}
                                    <li><a href="?page={{ i }} " class="btn btn-outline-murste ">{{ i }}</a></li>
                                    {% endif %} {% endfor %} {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }} " class="btn btn-outline-murste ">&raquo;</a></li>
                                    {% else %}
                                    <li class="disabled "><span class="btn btn-outline-murste ">&raquo;</span></li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </div>
                    </div>
                    </div>
                    </section><br>
                    <!--Plans-->

                    <! ========================  
                Syed Sahar Ali Raza   	 
              ========================	!>
                    <div id="generic_price_table">
                        <section>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--PRICE HEADING START-->
                                        <section id="plans" class="section-bg pt-5 container">
                                            <div class="pt-1">
                                                <header class="section-header">
                                                    <h4>Subscription Plans</h4>
                                                    <hr>
                                                </header>
                                        </section>
                                        <!--//PRICE HEADING END-->
                                        </div>
                                    </div>
                                </div>
                                <div class="container">

                                    <!--BLOCK ROW START-->
                                    <div class="row">
                                        <div class="col-md-4">

                                            <!--PRICE CONTENT START-->
                                            <div class="generic_content active clearfix">

                                                <!--HEAD PRICE DETAIL START-->
                                                <div class="generic_head_price clearfix">

                                                    <!--HEAD CONTENT START-->
                                                    <div class="generic_head_content clearfix">

                                                        <!--HEAD START-->
                                                        <div class="head_bg"></div>
                                                        <div class="head">
                                                            <span>Basic</span>
                                                        </div>
                                                        <!--//HEAD END-->

                                                    </div>
                                                    <!--//HEAD CONTENT END-->

                                                    <!--PRICE START-->
                                                    <div class="generic_price_tag clearfix">
                                                        <span class="price">
                                                <span class="sign">$</span>
                                                        <span class="currency">2</span>
                                                        <span class="cent">.00</span>
                                                        <span class="month">/MON</span>
                                                        </span>
                                                    </div>
                                                    <!--//PRICE END-->

                                                </div>
                                                <!--//HEAD PRICE DETAIL END-->

                                                <!--FEATURE LIST START-->
                                                <div class="generic_feature_list">
                                                    <ul>
                                                        <li><span></span> Post Jobs</li>
                                                        <li><span>24/7</span> Support</li>
                                                    </ul>
                                                </div>
                                                <!--//FEATURE LIST END-->


                                            </div>
                                            <!--//PRICE CONTENT END-->

                                        </div>

                                        <div class="col-md-4">

                                            <!--PRICE CONTENT START-->
                                            <div class="generic_content active clearfix">

                                                <!--HEAD PRICE DETAIL START-->
                                                <div class="generic_head_price clearfix">

                                                    <!--HEAD CONTENT START-->
                                                    <div class="generic_head_content clearfix">

                                                        <!--HEAD START-->
                                                        <div class="head_bg"></div>
                                                        <div class="head">
                                                            <span>Standard</span>
                                                        </div>
                                                        <!--//HEAD END-->

                                                    </div>
                                                    <!--//HEAD CONTENT END-->

                                                    <!--PRICE START-->
                                                    <div class="generic_price_tag clearfix">
                                                        <span class="price">
                                                <span class="sign">$</span>
                                                        <span class="currency">4</span>
                                                        <span class="cent">.99</span>
                                                        <span class="month">/MON</span>
                                                        </span>
                                                    </div>
                                                    <!--//PRICE END-->

                                                </div>
                                                <!--//HEAD PRICE DETAIL END-->

                                                <!--FEATURE LIST START-->
                                                <div class="generic_feature_list">
                                                    <ul>
                                                        <li><span></span> Apply for jobs</li>
                                                        <li><span></span> Post Jobs</li>
                                                        <li><span></span> Post Projects</li>
                                                        <li><span>24/7</span> Support</li>
                                                    </ul>
                                                </div>
                                                <!--//FEATURE LIST END-->
                                            </div>
                                            <!--//PRICE CONTENT END-->

                                        </div>
                                        <div class="col-md-4">

                                            <!--PRICE CONTENT START-->
                                            <div class="generic_content active clearfix">

                                                <!--HEAD PRICE DETAIL START-->
                                                <div class="generic_head_price clearfix">

                                                    <!--HEAD CONTENT START-->
                                                    <div class="generic_head_content clearfix">

                                                        <!--HEAD START-->
                                                        <div class="head_bg"></div>
                                                        <div class="head">
                                                            <span>Unlimited</span>
                                                        </div>
                                                        <!--//HEAD END-->

                                                    </div>
                                                    <!--//HEAD CONTENT END-->

                                                    <!--PRICE START-->
                                                    <div class="generic_price_tag clearfix">
                                                        <span class="price">
                                                <span class="sign">$</span>
                                                        <span class="currency">8</span>
                                                        <span class="cent">.99</span>
                                                        <span class="month">/MON</span>
                                                        </span>
                                                    </div>
                                                    <!--//PRICE END-->

                                                </div>
                                                <!--//HEAD PRICE DETAIL END-->

                                                <!--FEATURE LIST START-->
                                                <div class="generic_feature_list">
                                                    <ul>
                                                        <li><span></span> Get Verified</li>
                                                        <li><span></span> Apply for jobs</li>
                                                        <li><span></span> Post Jobs</li>
                                                        <li><span></span> Post Projects</li>
                                                        <li><span>24/7</span> Support</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--//PRICE CONTENT END-->

                                        </div>
                                    </div>
                                    <!--//BLOCK ROW END-->
                                    <!--BUTTON START-->
                                    <div class="generic_price_btn text-center pb-2 clearfix">
                                        <a class="" href="{% url 'plan' %}">Proceed to Subscribe</a>
                                    </div>
                                    <!--//BUTTON END-->
                                </div>
                        </section>
                        </div>
                        <!--end plans-->
                        <!-- testimonials -->
                        <section id="#" class="section-bg pt-5 container">
                            <div class="pt-1">
                                <header class="section-header">
                                    <h4>Testimonials</h4>
                                    <hr>
                                </header>
                        </section>
                        <section id="testim" class="testim pt-5">
                            <!--         <div class="testim-cover"> -->
                            <div class="wrap">

                                <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                                <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                                <ul id="testim-dots" class="dots">
                                    <li class="dot active"></li>
                                    <!--
                            -->
                                    <li class="dot"></li>
                                    <!--
                            -->
                                    <li class="dot"></li>
                                    <!--
                            -->
                                    <li class="dot"></li>
                                    <!--
                            -->
                                    <li class="dot"></li>
                                </ul>
                                <div id="testim-content" class="cont">

                                    <div class="active">
                                        <div class="img"><img src="https://image.ibb.co/hgy1M7/5a6f718346a28820008b4611_750_562.jpg" alt=""></div>
                                        <h2>MagicalCrystals</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>

                                    <div>
                                        <div class="img"><img src="https://image.ibb.co/cNP817/pexels_photo_220453.jpg" alt=""></div>
                                        <h2>Mr. Charles Mugo</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>

                                    <div>
                                        <div class="img"><img src="https://image.ibb.co/iN3qES/pexels_photo_324658.jpg" alt=""></div>
                                        <h2>MagicalCrystals</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>

                                    <div>
                                        <div class="img"><img src="https://image.ibb.co/kL6AES/Top_SA_Nicky_Oppenheimer.jpg" alt=""></div>
                                        <h2>BRISM Brands</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>

                                    <div>
                                        <div class="img"><img src="https://image.ibb.co/gUPag7/image.jpg" alt=""></div>
                                        <h2>Ms. Agnes M</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>

                                </div>

                            </div>
                            <!--         </div> -->
                        </section><br><br><br>
                        <!-- end of testimonials -->
                        <!--==========================
                                Footer
                            ==============-->
                        <footer id="footer">
                            <div class="footer-top">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 footer-info">
                                            <h5>MursteFreelance</h3>
                                                <p>We help in growing your businesses by cutting down on costs incurred by allowing you to hire freelance workers who bring in fresh expertise inexpensively.</p>
                                        </div>

                                        <div class="col-lg-2 col-md-6 footer-links">
                                            <h4>Useful Links</h4>
                                            <ul>
                                                <li><a href="{% url 'home' %}">Home</a></li>
                                                <li><a href="{% url 'jobs' %}">Browse jobs</a></li>
                                                <li><a href="{% url 'home' %}">How it works</a></li>
                                                <li><a href="{% url 'plan' %}">Get verified</a></li>
                                                <li><a href="{% url 'plan' %}">MursteFreelance Pro</a></li>
                                                <li><a href="{% url 'home' %}">Terms of service</a></li>
                                                {% if user.is_authenticated %}
                                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                                {% else %} {% endif %}

                                            </ul>
                                        </div>

                                        <div class="col-lg-3 col-md-6 footer-contact">
                                            <h4>Contact Us</h4>
                                            <p>
                                                <strong style="color: #ffff!important;"><a href="{% url 'contact' %}">Contact Form</a></strong><br>
                                                <strong>Phone:</strong> +254 746341598<br>
                                                <strong>Email:</strong>murichustephen@gmail.com<br>
                                            </p>

                                            <div class="social-links">
                                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                            </div>

                                        </div>

                                        <div class="col-lg-3 col-md-6 footer-newsletter">
                                            <h4>Our Newsletter</h4>
                                            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
                                            <form action="" method="post">
                                                <input type="email" name="email"><input type="submit" value="Subscribe">
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="copyright">
                                    &copy; Copyright <strong>MursteFreelance</strong>. All Rights Reserved
                                </div>
                            </div>
                        </footer>
                        <!-- #footer -->
                        <script src="https://use.fontawesome.com/1744f3f671.js"></script>
                        <a href="# " class="back-to-top"><i class="fa fa-chevron-up "></i></a>

                        <div id="preloader">
                            <div id="loader"></div>
                            <div class="loader-section section-left"></div>
                            <div class="loader-section section-right"></div>
                        </div>
                        <!-- JavaScript Libraries -->
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                        <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
                        <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>



                        <script src=" {% static 'lib/jquery/jquery.min.js'%}"></script>
                        <script src="{% static 'lib/jquery/jquery-migrate.min.js'%}"></script>
                        <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
                        <script src="{% static 'lib/easing/easing.min.js'%}"></script>
                        <script src="{% static 'lib/mobile-nav/mobile-nav.js'%}"></script>
                        <script src="{% static 'lib/wow/wow.min.js'%}"></script>
                        <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
                        <script src="{% static 'lib/counterup/counterup.min.js'%}"></script>
                        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
                        <script src="{% static 'lib/isotope/isotope.pkgd.min.js'%}"></script>
                        <script src="{% static 'lib/lightbox/js/lightbox.min.js'%}"></script>
                        <!-- Contact Form JavaScript File -->
                        <script src="{% static 'contactform/contactform.js'%}"></script>

                        <!-- Template Main Javascript File -->
                        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js" defer data-deferred="1"></script>
                        <script src="{% static 'js/buttons.js'%}"></script>
                        <script src="{% static 'js/particles.js'%}"></script>
                        <script src="{% static 'js/main.js'%}"></script>
                        <script src="{% static 'js/clients.js'%}"></script>

</body>

</html>
