{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> MursteFreelance:{% block title %} {% endblock title %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css'%}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <!-- Main Stylesheet File -->
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/sidenav.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
    </style>
    
    <script type="text/javascript">
    CKEDITOR_BASEPATH = "@Url.Content("~/Scripts/ckeditor/")";
</script>

</head>

<body>

    <!--==========================
  Header
  ============================-->
    <header id="header" class="fixed-top">
        <div class="container">
            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <h5 class="text-light" style="text-decoration: none;"><a href="{% url 'home' %}"><span><img src="{% static 'images/logo/logo.png' %}" alt="">MursteFreelance</span></a></h5>
            </div>
            <nav class="main-nav float-right d-none d-lg-block">
                {% if user.is_authenticated %}
                <ul>
                    <li>
                        <a href="{% url 'jobs' %} "> Browse Jobs</a>
                    </li>
                    <li class="drop-down"><a href=""><i  class="fa fa-user"></i> Your account({{ user.username }})</a>
                        <ul>
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            <li><a href="{% url 'job_add' %}">Post Job</a></li>
                            {% if user.userplan.plan.plan_type == "Unlimited" or user.userplan.plan.plan_type == "Standard" %}
                            <li><a href="{% url 'post-create' %}">Post Project</a></li>
                            {% else %}
                            <li><a href="{% url 'plan' %}">Post Project</a></li>
                            {% endif %}
                            <!--
                        <li class="drop-down"><a href="#">Drop Down 2</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        -->
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'notifications:unread' %}">
                            <span class="fa fa-bell"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'plan' %}">MursteFreelance<span class=" badge badge-warning p-1 "> Pro</span></a></li>
                    <li>
                        <a href="{% url 'logout' %} " class="btn btn-outline-murste"><i  class="fa fa-power-off "></i> Logout</a>
                    </li>
                </ul>
                {%else%}
                <ul>
                    <li><a href="{% url 'home' %} ">How It Works</a></li>
                    <li><a href="{% url 'jobs' %} "> Browse Jobs</a></li>

                    <li><a href="{% url 'login' %} " class="btn btn-murste" style="color:#ffff;"><i  class="fa fa-sign-in "></i> Join</a></li>
                </ul>
                {% endif %}
            </nav>
            <!-- .main-nav -->
        </div>
        </div>
        </div>
    </header>
    <!-- #header -->
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <a href="# " class="back-to-top "><i class="fa fa-chevron-up "></i></a>

    <div id="preloader">
        <div id="loader"></div>
        <div class="loader-section section-left "></div>
        <div class="loader-section section-right "></div>
    </div>
    {% block javascript %} {% endblock javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
    <script type="text/javascript " src="{% static 'ckeditor/ckeditor-init.js' %} "></script>
    <script type="text/javascript " src="{% static 'ckeditor/ckeditor/ckeditor.js' %} "></script>



    <script src=" {% static 'lib/jquery/jquery.min.js'%} "></script>
    <script src="{% static 'lib/jquery/jquery-migrate.min.js'%} "></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js'%} "></script>
    <script src="{% static 'lib/easing/easing.min.js'%} "></script>
    <script src="{% static 'lib/mobile-nav/mobile-nav.js'%} "></script>
    <script src="{% static 'lib/wow/wow.min.js'%} "></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js'%} "></script>
    <script src="{% static 'lib/counterup/counterup.min.js'%} "></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%} "></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js'%} "></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js'%} "></script>
    <!-- Contact Form JavaScript File -->
    <script src="{% static 'contactform/contactform.js'%} "></script>

    <!-- Template Main Javascript File -->
    <script src="{% static 'js/main.js'%} "></script>
    <script src="{% static 'js/buttons.js'%}"></script>
    <script src="{% static 'js/jobs.js'%}"></script>
</body>

</html>
