{% extends "core/main.html" %} {% load humanize %} {% load static %}{% load crispy_forms_tags %}{% block title %} Projects{%endblock title%}{% block content %}
<div class="pt-5"></div>
<style>
    h1 {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
    .blog-card-blog {
        margin-top: 30px;
    }
    
    .blog-card {
        display: inline-block;
        position: relative;
        width: 100%;
        margin-bottom: 30px;
        border-radius: 6px;
        color: rgba(0, 0, 0, 0.87);
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    
    .blog-card .blog-card-image {
        height: 60%;
        position: relative;
        overflow: hidden;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -30px;
        border-radius: 6px;
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
    
    .blog-card .blog-card-image img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        pointer-events: none;
    }
    
    .blog-card .blog-table {
        padding: 15px 30px;
    }
    
    .blog-table {
        margin-bottom: 0px;
    }
    
    .blog-category {
        position: relative;
        line-height: 0;
        margin: 15px 0;
    }
    
    .blog-text-success {
        color: #28a745!important;
    }
    
    .blog-card-blog .blog-card-caption {
        margin-top: 5px;
    }
    
    .blog-card-caption {
        font-weight: 700;
        font-family: "Roboto Slab", "Times New Roman", serif;
    }
    
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .blog-card-caption,
    .blog-card-caption a {
        color: #333;
        text-decoration: none;
    }
    
    p {
        color: #3C4857;
    }
    
    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    .blog-card .ftr {
        margin-top: 15px;
    }
    
    .blog-card .ftr .author {
        color: #888;
    }
    
    .blog-card .ftr div {
        display: inline-block;
    }
    
    .blog-card .author .avatar {
        width: 36px;
        height: 36px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 5px;
        blog-
    }
    
    .blog-card .ftr .stats {
        position: relative;
        top: 1px;
        font-size: 14px;
    }
    
    .blog-card .ftr .stats {
        float: right;
        line-height: 30px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-5">
    <a class="navbar-brand" href="#">All Projects</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/projects/category/graphics-design">Graphics & Design</a>
                    <a class="dropdown-item" href="/projects/category/Photography">Photography</a>
                    <a class="dropdown-item" href="/projects/category/Photoshop">Photoshop</a>
                    <a class="dropdown-item" href="/projects/category/Architecture Services">Architecture Services</a>
                    <a class="dropdown-item" href="/projects/category/Marketing, Sales and Service">Marketing, Sales and Service</a>
                    <a class="dropdown-item" href="/projects/category/Data Entry">Data Entry</a>
                    <a class="dropdown-item" href="/jobs/category/Web Development and Designing">Web Development and Designing</a>
                    <a class="dropdown-item" href="/projects/category/Creative Design">Creative Design</a>
                    <a class="dropdown-item" href="/projects/category/Mobile App Development">Mobile App Development</a>
                    <a class="dropdown-item" href="/projects/category/3D Modeling and CAD">3D Modeling and CAD</a>
                    <a class="dropdown-item" href="/projects/category/Game Development">Game Development</a>
                    <a class="dropdown-item" href="/projects/category/Translation">Translation</a>
                    <a class="dropdown-item" href="/projects/category/Transcription">Transcription</a>
                    <a class="dropdown-item" href="/projects/category/Article and Blog Writing">Article and Blog Writing</a>
                    <a class="dropdown-item" href="/projects/category/Teaching and Tutoring">Logo Design and illustration</a>
                    <a class="dropdown-item" href="/projects/category/Audio and Video Production">Audio and Video Production</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" role="search " id="searchform" action="{% url 'post_search_list_view' %}" method="get" accept-charset="utf-8">
            <div class="form-group ">
                <div class="input-group ">
                    <input id="searchbox" name="q" type="text" class="form-control " placeholder="Find projects">
                    <span class="input-group-btn ">
      <button class="btn btn-outline-murste my-2 my-sm-0" type="submit">Search</i></button>
    </span>
                </div>
            </div>
        </form>
    </div>
</nav>
<div class="container pt-5 job-description">
    <p class="text-center job-description">
        Start posting your projects now. Make your specialism known to others<br> See below the list of projects made by our talented users
    </p>
</div>
<div class="container pt-5">
    <div class="">
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4">
                <div class="blog-card blog-card-blog">
                    <div class="blog-card-image">
                        <a href="{% url 'post-detail' post.slug %}"> <img class="img" src="{{ post.cover_image.url}}"> </a>
                        <div class="ripple-cont"></div>
                    </div>
                    <div class="blog-table">
                        {% if post.actual_rating %} {% for rate in post.actual_rating %}
                        <span class="fa fa-star checked" style="color: orangered;"></span> {% endfor %}
                        <br><small><em> Num of rates({{ post.reviews.count }})</em></small>{% else %}
                        <br>
                        <small><em>Nobody has rated</em></small> {% endif %}
                        <h6 class="blog-category blog-text-success"><i class="fa fa-newspaper"></i>{{post.category}}</h6>
                        <h4 class="blog-card-caption">
                            <a href="{% url 'post-detail' post.slug %}">{{post.title}}</a>
                        </h4>
                        <p class="blog-card-description">{{post.overview}}</p>
                        <div class="ftr">
                            <div class="author">
                                <a href="{% url 'public-profile' post.author.username %}"> <img src="{{ post.author.profile.profile_picture.url  }}" alt="..." class="avatar img-raised"> <span>{% if post.author.userplan.plan.plan_type == "Unlimited" or post.author.is_superuser %}{{post.author}} <i class="fa fa-check-circle" aria-hidden="true" style="color:#1c87c5"></i></a> {% else %} {{post.author}} {% endif %}</span>                                    </a>
                            </div>
                            <div class="stats text-muted"> <i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.date_posted|naturaltime|lower }}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% empty %}
        <br>
        <div class="container mb-5">
            <div style="text-align:center;" id="nopost" class="anim-typewriter">
                No Projects Posted Yet
            </div>
        </div>
        <div id="meat_boy">
            <div id="shadow"></div>
            <div id="left-hand"></div>
            <div id="right-hand"></div>
            <div id="left-leg"></div>
            <div id="right-leg"></div>
            <div id="body">
                <div id="deformation1"></div>
                <div id="deformation2"></div>
                <div id="deformation3"></div>
                <div id="deformation4"></div>
                <div id="deformation5"></div>
                <div id="deformation6"></div>
                <div id="deformation7"></div>
                <div id="deformation8"></div>
                <div id="left-eye"></div>
                <div id="right-eye"></div>
                <div id="dimple"></div>
                <div id="smiley"></div>
            </div>
        </div>
        {% endfor %}
        </ul>
    </div>
    <div class="paginator ">
        {% if is_paginated %}
        <ul class="pagination ">
            {% if page_obj.has_previous %}
            <li><a class="btn accent-1 btn-outline-murste " href="?page={{ page_obj.previous_page_number }} ">&laquo;</a></li>
            {% else %}
            <li class="disabled "><span class="btn btn-outline-murste ">&laquo;</span></li>
            {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
            <li class="active "><span class="btn btn-murste ">{{ i }} <span class="sr-only ">(current)</span></span>
            </li>
            {% else %}
            <li><a href="?page={{ i }} " class="btn btn-outline-murste ">{{ i }}</a></li>
            {% endif %} {% endfor %} {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }} " class="btn btn-outline-murste ">&raquo;</a></li>
            {% else %}
            <li class="disabled "><span class="btn btn-outline-murste ">&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
</div>
{% endblock content%}
