{% extends "core/main.html" %} {% load humanize %} {% load static %}{% load crispy_forms_tags %}{% block title %} Availabe posts{%endblock title%}
{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-5">Bootstrap Projects List</h1>
    <div class="row">
    {% for p in posts %}
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="{{p.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{p.title}}</h5>
            <p class="card-text">{{p.overview}}</p>
            <p class="card-text text-warning">
                <small class="me-3"><i class="fa fa-star"></i><span class="text-muted"> 4.2</span></small>
                <small><i class="fa fa-eye"></i><span class="text-muted"> 100 Views </span></small>
            </p>
            <a href="{% url 'post-detail' p.slug %}" class="btn btn-info">View Project</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
  </div>
{% endblock %}