{% extends 'core/main.html' %} {% load static %} {% block title %}Profile{% endblock %}{% block content %}
<div class="pt-5"></div>
<div class="containerprof text-center">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
        * {
            box-sizing: border-box;
        }
        
        .containerprof {
            background-color: #124c8ac7;
            font-family: Montserrat, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }
        
        h3 {
            margin: 10px 0;
        }
        
        h6 {
            margin: 5px 0;
            text-transform: uppercase;
        }
        
        p {
            font-size: 14px;
            line-height: 21px;
        }
        
        .card-container {
            background-color: #124c8ae3;
            border-radius: 5px;
            box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
            color: #dfe2ec;
            padding-top: 30px;
            position: fixed;
            width: 350px;
            max-width: 100%;
            text-align: center;
        }
        
        .card-container .pro {
            color: #231E39;
            background-color: #0bfead;
            border-radius: 3px;
            font-size: 14px;
            font-weight: bold;
            padding: 3px 7px;
            position: absolute;
            top: 30px;
            left: 30px;
        }
        
        .card-container .round {
            border: 1px solid #03BFCB;
            border-radius: 50%;
            padding: 7px;
        }
        
        button.primary {
            background-color: #27e630;
            border: 1px solid #03BFCB;
            border-radius: 3px;
            color: #124c8a;
            font-family: Montserrat, sans-serif;
            font-weight: 500;
            padding: 10px 25px;
        }
        
        button.primary.ghost {
            background-color: transparent;
            color: #02899C;
        }
        
        .skills {
            background-color: #124c8a;
            text-align: left;
            padding: 15px;
            margin-top: 30px;
        }
        
        .skills ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        .skills ul li {
            border: 1px solid #608ab6;
            border-radius: 2px;
            display: inline-block;
            font-size: 12px;
            margin: 0 7px 7px 0;
            padding: 7px;
        }
        
        .primary a:hover {
            color: #dfe2ec!important;
        }
        
        .pop-up {
            height: auto;
            width: 60%;
            margin: 10vh auto;
            background: #fff;
            position: relative;
            z-index: 1;
            border-radius: 5px;
            box-shadow: 0 0 20px #000;
        }
        
        .pop-up-container {
            height: 100vh;
            width: 100%;
            background: #000;
            opacity: .1;
            position: relative;
            z-index: -1;
            margin-top: -500px;
        }
        
        .span1 {
            border-radius: 3em;
            margin-left: 95%;
            background: #27e630;
            color: #fff;
            font-size: 1.25em;
            padding: .3em .7em;
            cursor: pointer;
        }
        
        .pop-up-text {
            box-sizing: border-box;
            padding: 20px;
        }
        
        .pop-up-text h1 {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 20px;
            color: #212121;
        }
        
        .pop-up-text p {
            font-size: 1em;
            margin-bottom: 1em;
        }
        
        .pop-up-text a {
            color: #FF3D3D;
            margin-bottom: 10px;
        }
        
        .pop-up-text img {
            max-height: 250px;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }
        
        @media (max-width: 768px) {
            .pop-up {
                height: auto;
                width: 90%;
                margin: 10vh auto;
                background: #fff;
                position: relative;
                z-index: 1;
                border-radius: 5px;
                box-shadow: 0 0 20px #000;
            }
            .pop-up-container {
                height: 100vh;
                width: 100%;
                background: #000;
                opacity: .1;
                position: relative;
                z-index: -1;
                margin-top: -500px;
            }
            .span1 {
                border-radius: 3em;
                margin-left: 80%;
                background: #27e630;
                color: #fff;
                font-size: 1.25em;
                padding: .3em .7em;
                cursor: pointer;
            }
            .pop-up-text {
                box-sizing: border-box;
                padding: 20px;
            }
            .pop-up-text h1 {
                font-size: 2em;
                font-weight: bold;
                margin-bottom: 20px;
                color: #212121;
            }
            .pop-up-text p {
                font-size: 1em;
                margin-bottom: 1em;
            }
        }
    </style>
    <div class="pop-up">
        <span class="span1">x</span>
        <div class="pop-up-text">
            <h4>Overview</h4>
            <hr>
            <h6>Skills :</h6><br>
            <p>{{ username.profile.skills }}</p><br>
            <h6>Career description :</h6><br>
            <p>{{ username.profile.career_description }}</p>
        </div>
    </div>
    <div class="card-container">
        {% if user.userplan.plan.plan_type == "Unlimited" or user.is_superuser %}
        <span class="pro">verified</span> {% endif %}
        <img class="round" src="{{ username.profile.profile_picture.url }}" alt="user" />
        <h3>{{ username }}</h3>
        <small><i class="{{ username.profile.country.flag_css }}"></i> {{ username.profile.country.name }}</small>
        <p>{{ username.profile.bio }}</p>
        <div class="buttons">
            <button class="primary">
                {% if user != username %}
                <a href="{% url 'message-form' username %}">Message</a>
                {% else %}
                <a href="{% url 'profile' %}">Edit profile</a>
                {% endif %}
		</button>
            <button class="primary pop-up-button"><a>Overview</a></button>
        </div>
        <div class="skills">
            <h6>Skills</h6>
            <ul>
                {{ username.profile.skills }}
            </ul>
        </div>
    </div>
</div>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> {% endblock content %}