{% extends 'core/main.html' %} {% load crispy_forms_tags %}{% load static %} {% block title %}Profile{% endblock %}{% block content %}
<div class="pt-5"></div>
<div class="container">
    <div class="container mt-5">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            {{ message }}
        </div>
        {% endfor %} {% endif %}

        {% if form.non_field_errors %}
        <ul>
            {% for error in form.non_field_errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <form id="msform" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title">Edit your account</h2>
            <h3 class="fs-subtitle">This is step 1</h3>
            {{ u_form.username.errors }} {{ u_form.username }} {{ p_form.first_name }} {{ p_form.last_name }} {{ u_form.email }} {{ p_form.telephone.errors }}{{ p_form.telephone }}
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Edit your account</h2>
            <h3 class="fs-subtitle">This is step 2</h3>
            {{ p_form.bio }}
            <label class="text-muted">Profile picture: </label> {{ p_form.country }} <br> {{ p_form.profile_picture }} 
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Edit your account</h2>
            <h3 class="fs-subtitle">Last step</h3>
            <label class="text-muted">Career description</label> {{ p_form.career_description }}
            <label class="text-muted">Skills</label> {{ p_form.skills }}
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="submit" class="action-button" value="Update" />
        </fieldset>

    </form>
</div>
{% endblock content %}