{% extends 'core/main.html' %}
{% load static %}
{% block title %}User Profile{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img src="{{user_profile.profile_image.url}}" class="img-fluid rounded-circle mb-3 profile-img" alt="Profile Image">
          {% if user_profile %}
          <h5 class="card-title">{{ user_profile.user.username }}</h5>
          <p class="text-muted">{{ user_profile.job_status }}</p>
          {% endif %}
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          {% if contact_info %}
          <h5 class="card-title">Contact Information</h5>
          <p><i class="fa fa-envelope mr-2"></i><strong> Email:</strong> {{ contact_info.email }}</p>
          <p><i class="fa fa-linkedin mr-2"></i><strong> LinkedIn:</strong> {{ contact_info.linkedin }}</p>
          <p><i class="fa fa-twitter mr-2"></i><strong> Twitter:</strong> {{ contact_info.twitter }}</p>
          {% else %}
          <p class="text-muted">No contact information available.</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          {% if user_profile %}
          <h5 class="card-title">Bio</h5>
          <p>{{ user_profile.bio | default:"No bio available" }}</p>
          {% else %}
          <p class="text-muted">No bio available.</p>
          {% endif %}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          {% if experiences %}
          <h5 class="card-title">Experiences</h5>
          <ul class="list-group">
            {% for experience in experiences %}
            <li class="list-group-item">
              <i class="fa fa-briefcase mr-2"></i><strong> {{ experience.title }}</strong> at {{ experience.company }}
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p class="text-muted">No experiences available.</p>
          {% endif %}
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          {% if educations %}
          <h5 class="card-title">Education</h5>
          {% for education in educations %}
          <p><i class="fa fa-graduation-cap mr-2"></i><strong> Degree:</strong> {{ education.degree }}</p>
          <p><i class="fa fa-university mr-2"></i><strong> Institution:</strong> {{ education.institution }}</p>
          <!-- Add more education fields as needed -->
          {% endfor %}
          {% else %}
          <p class="text-muted">No education information available.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
