{% extends 'core/main.html' %} {% load static %} {% block title %}Login{% endblock %} {% block header %}{%endblock header%}{% block content %} {% load crispy_forms_tags %}
<div class="container">
    <div class="container text-center pt-5">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
      
        {% if form.non_field_errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      </div>
      
    <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title text-center mb-0">Login</h4>
              </div>
              <div class="card-body">
                <form method="POST">
                    {% csrf_token %} {{ form.media }}
                  <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                        {{ form.username.errors }}
                        <div>
                            {{form.username}}
                        </div>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                        {{ form.email.errors }}
                        <div>
                            {{form.email}}
                        </div>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                        {{ form.password1.errors }}
                        <div>
                            {{form.password1}}
                        </div>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                        {{ form.password2.errors }}
                        <div>
                            {{form.password2}}
                        </div>
                  </div>
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                  </div>
                  <input type="submit" class="btn btn-info w-100" value="login">
                </form>
              </div>
              <div class="card-footer">
                <a href="{% url 'login' %}" class="float-start">Alrady have an account</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock content %}