{% extends 'core/main.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container container-top">
    <div class="row justify-content-center pt-4">

        <form method="POST">
            {% csrf_token %}
            <fieldset class="row input-group mb-3 justify-content-center">
                {{ form }}
                <div class='input-group-append'>
                    <button class='btn btn-outline-info' type='submit'>Send</button>
                </div>
            </fieldset>
        </form>
    </div>

    {% for message in receiver_message_objects %} {% if message.sender == user %}

    <p class="message-green-text text-wrap pl-1 pr-1">
        {{message.content}}
        <b><i>{{message.date_created}}</i></b>

        <a href="{% url 'public-profile' message.sender %}" id='message-link'><b>{{message.sender}}</b></a>
    </p>
    {% else %}
    <p class="message-white-text text-wrap pl-1 pr-1">
        <a href="{% url 'public-profile' message.sender %}" id='author-link'><b> {{message.sender}}</b></a>
        <b><i>{{message.date_created}} </i></b>{{message.content}}
    </p>
    {% endif %} {% endfor %}
</div>


{% endblock content %}