{% extends 'core/main.html' %} {% load humanize %} {% block title %} direct message {% endblock title %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
    <form class="text-center" id="contact" method="POST" style="max-width: 700px;">
        {% csrf_token %}
        <fieldset>
            {{form.content}}
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Send message</button>
        </fieldset>
    </form>
<style>
@use postcss-nested;
body {
	font-family: montserrat;
	font-weight: normal;
    max-width: 450px;
	margin: 50px auto;
    display: flex;
    flex-direction: column;
}
p {
  max-width: 255px;
  font-family: montserrat;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
  position:relative;
	padding:10px 20px;
  border-radius:25px;
  
  &:before, &:after {
    content:"";
    bottom:-2px;
    height:fit-content;
  }
}

.from-me {
	color:white; 
	background:#0B93F6;		
	&:before {
		right:-7px;
		border-right:20px solid #0B93F6;
		border-bottom-left-radius: 16px 14px;
		transform:translate(0, -2px);
	}

	&:after {
		width:30px;
		background:white;
		border-bottom-left-radius: 10px;
		transform:translate(-30px, -2px);
	}
}
.from-them {
	background:#E5E5EA;
	color:black;
		
	&:before {
		left:-7px;
		border-left:20px solid #E5E5EA;
		border-bottom-right-radius: 16px 14px;
		transform:translate(0, -2px);
	}

	&:after {
		left:4px;
		width:26px;
		background:white;
		border-bottom-right-radius: 10px;
		transform:translate(-30px, -2px);
	}
}
</style>
    {% for message in receiver_message_objects %} {% if message.sender == user %}
        <div class="sender mt-5">
            <a href="{% url 'public-profile' message.sender %}" id='message-link'><small>{{message.sender}}</small></a><br>
            <p class="from-me">{{message.content|safe}}</p>
            <small class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> {{message.date_created|naturaltime|lower}}</small>
        </div>
    {% else %}
    <div class="receiver mt-3">
        <a href="{% url 'public-profile' message.sender %}" id='message-link'><small>{{message.sender}}</small></a><br>
        <p class="from-them">{{message.content}}</p>
        <small class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> {{message.date_created|naturaltime|lower}}</small>
    </div>
    {% endif %} {% endfor %}
</div>
{% endblock content %}