{% extends "core/main.html" %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Projects{%endblock title%}
{% block content %}
<div class="pt-5"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1>Job Listings</h1>
            <div class="job-listing">
                <h2>Web Designer</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia consectetur sem, sit amet tempus lectus accumsan nec. Nulla sollicitudin risus quis elit varius, id sagittis dui pharetra. Donec efficitur quam sit amet erat tristique aliquet. Nam luctus tempor urna, id semper elit convallis non. </p>
                <p><a href="#" class="btn btn-info">Apply Now</a></p>
            </div>
            <div class="job-listing">
                <h2>Backend Developer</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia consectetur sem, sit amet tempus lectus accumsan nec. Nulla sollicitudin risus quis elit varius, id sagittis dui pharetra. Donec efficitur quam sit amet erat tristique aliquet. Nam luctus tempor urna, id semper elit convallis non. </p>
                <p><a href="#" class="btn btn-info">Apply Now</a></p>
            </div>
            <div class="job-listing">
                <h2>Marketing Manager</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia consectetur sem, sit amet tempus lectus accumsan nec. Nulla sollicitudin risus quis elit varius, id sagittis dui pharetra. Donec efficitur quam sit amet erat tristique aliquet. Nam luctus tempor urna, id semper elit convallis non. </p>
                <p><a href="#" class="btn btn-info">Apply Now</a></p>
            </div>
        </div>
        <div class="col-lg-4">
            <h2>Categories</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Web Design</a></li>
                <li class="list-group-item"><a href="#">Development</a></li>
                <li class="list-group-item"><a href="#">Marketing</a></li>
                <li class="list-group-item"><a href="#">Writing</a></li>
                <li class="list-group-item"><a href="#">Data Entry</a></li>
            </ul>
            <br>
            <h2>Recent Jobs</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Web Designer</a></li>
                <li class="list-group-item"><a href="#">Backend Developer</a></li>
                <li class="list-group-item"><a href="#">Marketing Manager</a></li>
                <li class="list-group-item"><a href="#">Graphic Designer</a></li>
                <li class="list-group-item"><a href="#">Content Writer</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock content%}